@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'DM Sans', system-ui, sans-serif;
  background-color: #FFFFFF;
}

h1, h2, h3, h4 {
  font-family: 'Syne', sans-serif;
}
